
*{
    margin: 0;
    padding: 0;
}

.cus_container{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    
}
.container-fluid{
    background-image: url(../imges/background.png);
    /* background: linear-gradient(180deg, #4694ec, #8a7a81) */
    padding-left: 0!important;
    padding-right: 0!important;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.banner-content{
    margin-top: 18%;
    margin-bottom: 10%;
}

.feature-img{
    height: 65%;
    position: absolute;
    bottom: 50px;
    right: 0px;
}
.main_nav a:hover{
    border-bottom:1px solid #565387;
}
.main_nav{
    font-weight: bold;
    font-size: 17px;
}

#header .feature-img {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down{
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  @keyframes up-down{
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }

