body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* certificate start */

.content_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cus_img_brand img{
  width: 100px;
}

/* certificate end */

/* portfolio start */



/* portfolio end */


/* brand css start */



/* brand css end */